/*Importar con @font-face: */
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Alex+Brush&family=Architects+Daughter&family=Bad+Script&family=Roboto&display=swap');

body{
    font-family: 'Aguafina Script', cursive;
    color: gray;
}

h1{
    text-shadow: 5px 5px 8px yellow;
}

h2{
    font-family: 'Bad Script', cursive;
    color: green;
}

.cincel{
    width: 100px;
    height: 35px;
    background: #CCC;
    text-shadow: 1px 1px white, -1px -1px #333;
    font-size: x-large;
    text-align: center;
    color: #D1D1D1;
    font-weight: bold;
}

.neon{
    margin-top: 20px;
    text-align: center;
    width: 300px;
    height: 80px;
    background-color: black;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 20px #ff00de, 0 0 70px #ff00de;
}

p{
    font-family: 'Alex Brush', cursive;
    column-count: 2;
    text-align: justify;
    column-gap: 20px;
    padding: 10px 15px;
    border: 1px dashed black;
    column-rule: 1px dashed blue;
}